@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using AmongUsRoulette.Shared.Base


<div class="container">
    <Header />
    @Body
    <Anchor />
    <Footer />
</div>






