@inherits LayoutComponentBase
@using AmongUsRoulette.Shared.Base
@inject AmongUsRoulette.Shared.Utils.CurrentLanguage language;



<div class="container">

    @if (language.isDone)
    {
        <Header />
        @Body
        <Footer />
        <Anchor />
    }

</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        await language.Start();
        Console.WriteLine(language.name);

    }
}