@inherits LayoutComponentBase
@using AmongUsRoulette.Shared.Base
@using AmongUsRoulette.Pages;
@inject AmongUsRoulette.Shared.Utils.CurrentLanguage language;
@inject AmongUsRoulette.Shared.Utils.AdBlock AdBlock;




<div class="container">

    @if (language.isDone)
    {
         <Header />
          @Body
         <Footer />
         <Anchor />      
    }

</div>


@code{

    protected override async Task OnInitializedAsync()
    {
        await language.SetLanguage();
    }
}