.map-container {
    width: 100vw;
    font-size: 1vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15em;
    padding-top: 5em;
   
}

.map-info {
    width: 90%;
    border: 0.2em solid white;
    height: auto;
    margin-bottom: 5em;
    border-radius: 1em;

}

.map-body{
    width:100%;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.map-text {
    max-width: 80%;
    width: 80%;
    color: white;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
.map-text-format {
    text-align: justify;
    max-width: 90%;
}

.centralizar {
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    max-height: 50em;
    max-width: 50em;
    min-height: 25em;
    min-width: 25em;
    border: 0.1em white solid;
}

@media screen and (max-width: 1050px) {
    .map-container[b-bsmq055v0o] {
        padding: 0;
        padding-top: 20em;
    }

    .map-body[b-bsmq055v0o] {
    }

    .map-container[b-bsmq055v0o] {
    }

    .map-info[b-bsmq055v0o] {
    }

    .map-text[b-bsmq055v0o] {
        margin-top: 4em;
    }

    .map-text-format[b-bsmq055v0o] {
        font-size: 2.3em;
    }

    img {
        width: 100%;
        height: auto;
    }
}
