.map-container {
    width: 100vw;
    font-size: 1vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15em;
    padding-top: 5em;
   font-family:Arial, Helvetica, sans-serif;
}

.centralizar {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 10em;
    font-weight: 600;
    margin-bottom: 1em;
    font-family: 'in_your_face_joffrey_medium';
}


@media screen and (max-width: 1050px) {
    .map-container {
        padding: 0;
        padding-top: 20em;
    }
}
