<div class="footer">
    <div class="centralizar">
        <p>Made with love.</p>       
    </div>
    <div class="centralizar">       
        <p>this site is not subsidized in any way by the owner of the game "Among Us" <a target="_blank" href="http://www.innersloth.com/">innersloth.</a></p>
    </div>
    <div class="centralizar">
        <address><a href="mailto:contact.amongroll@gmail.com">contact: contact.amongroll@gmail.com</a></address>
    </div>
</div>