<div class="header">

    <ul id="menu">
        <li class="titulo">
            <a href="/">Among Roll</a>
        </li>

        <li>
            <a href="/">Roulette</a>
            
        </li>

        <li>
            <a href="/map?nameMap=the skeld">The Skeld</a>
          
        </li>

        <li>
            <a href="/map?nameMap=Mira HQ">Mira HQ</a>
          
        </li>

        <li>
            <a href="/map?nameMap=Polus">Polus</a>

        </li>
    </ul>

</div>



@code {

}
