@inject AmongUsRoulette.Shared.Utils.CurrentLanguage language
<div class="roleta ">
    <div class="seletor"></div>

    <div style="@classToRender" class="dentroRoleta">
        @for (int i = 0; i < 10; i++)
        {
            <img class="img" src="imgs/Roleta/@language.name/esconde_esconde.png">
            <img class="img" src="imgs/Roleta/@language.name/sem_cor.png">
            <img class="img" src="imgs/Roleta/@language.name/slenderman.png">
            <img class="img" src="imgs/Roleta/@language.name/it.png">
            <img class="img" src="imgs/Roleta/@language.name/pega_pega.png">
        }

    </div>
</div>



@code {
    [Parameter]
    public bool isRoletaActive { get; set; }
    public string classToRender;
    public bool isFirst { get; set; }
    public Random r;
    public int newRandom = 0;
    public int oldRandom = 0;


    protected override void OnParametersSet()
    {
        r = new Random();
        oldRandom = newRandom;
        newRandom=r.Next(100,600);

        if (isRoletaActive)
        {
            Girar();
            isFirst = false;
        }
        else if(!isFirst)
        {
            Voltar();
        }

    }

    public void Girar()
    {
        classToRender = StyleBuilder.Empty()
                      .AddStyle("transition", "transform 5s", when: true)
                      .AddStyle("transform", $"translate(-{newRandom}em, 0px)", when: true)
                      .Build();
    }

    public void Voltar()
    {
        classToRender = StyleBuilder.Empty()
              .AddStyle("transform", $" translate({oldRandom}em, 0px)", when: false)
              .Build();
    }


}
