
<div class="container-scroll">
    <div class="scrollToMode">
        <div class="centralizar">
            Mode Select
        </div>
        <ul class="menuScroll">
            <li ><a href="#Teste">Teste </a></li>
            <li>HTML</li>
            <li>HTML</li>
            <li>HTML</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
        </ul>

    </div>
</div>

@code {

}
