
<div id="scroll" class="container-scroll">
    <div class="scrollToMode">
        <div class="centralizar">
            Mode Select
        </div>
        <ul class="menuScroll">
            @foreach (string name in ModosNames)
            {
                <li><a href="#@name.Replace(" ","")">@name </a></li>
            }
        </ul>

    </div>
</div>

