@font-face {
    font-family: 'in_your_face_joffrey_medium';
    src: url('../in_your_face_joffrey-webfont.woff2') format('woff2'), url('../in_your_face_joffrey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
    height: 100%;
    font-size: 1vw;
}

body {
    overflow: auto;
    height: 100%;
    background-image: url("../imgs/space.gif");
    font-family: in_your_face_joffrey_medium;

}

#app{
    overflow:hidden;
}
