@font-face {
    font-family: 'in_your_face_joffrey_medium';
    src: url('../in_your_face_joffrey-webfont.woff2') format('woff2'), url('../in_your_face_joffrey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

html {
    overflow: hidden;
    height: 100%;
    font-size: 1vw;
}

body {
    overflow: auto;
    height: 100%;
    background-image: url("../imgs/space.gif");
    font-family: in_your_face_joffrey_medium;

}

#app{
    overflow:hidden;
}

h1 {
    color: white;
    font-size: 4.4em;
    margin: 0;
    white-space: nowrap;
    font-weight:100;
}

@media screen and (max-width: 1050px) {
    h1 {
        font-size: 15em;
        margin-bottom: 1em;
    }
}

h2 {
    font-size: 7em;
    margin: 1em;
    border-bottom: solid #FFFFFF;
    border-radius: 20px;
    color: red;
    height: 1em;
    width: auto;
    white-space: nowrap;
}

@media screen and (max-width: 1050px) {
    h2 {
        font-size: 13em;
        border-radius: 10px;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        height: 1.12em;
    }
}

h3 {
    color: white;
    font-size: 4em;
    white-space: nowrap;
    margin-bottom: 1em;
}

@media screen and (max-width: 1050px) {
    h3 {
        font-size: 8em;
    }
}

h4 {
    color: white;
    font-size: 2em;
    white-space: nowrap;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1050px) {
    h4 {
        font-size: 6em;
    }
}